# @(#) db/.gitignore
# Last-edited: Tue 2021.05.11.1412 -- Danny Quah (me@DannyQuah.com)
# ----------------------------------------------------------------
# Revision History:
#  % Sat 2020.08.15.1306 -- Danny Quah (me@DannyQuah.com)
#    First draft: Ignore in git updates
# ----------------------------------------------------------------
*~
*.swp
.netrwhist
1Unused.zip
Config/libreoffice/4/
Config/Vifm/colors/
Config/Vifm/vifm-help.txt
EndNote/
machines/Linux/bin/
machines/Linux/fonts/
machines/Linux/lib/
machines/Ssh/
machines/Zsh/oh-my-zsh
Templates/MS-Office/LiveContent/
texmf/doc/
texmf/scripts/
texmf/source/
texmf/tlpkg/
texmf/web2c/
Vim/Session.vim 
Vim/autoload/
Vim/bundle/
Vim/sessions/ 
# eof db/.gitignore

